/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2019, 4:20:50 PM
    Author     : minhm
*/

/*Creared on : 17/11
Author: MinhTran*/

body
{
    margin:0px;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

.header
{
    top: 0;
    width:100%;
    height: 80px;
}


/*Creared on : 17/11
Author: MinhTran
About: CSS Header Top
*/

.header-top
{
    width:100%;
    height:32px;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 11px;
    background: linear-gradient(90deg,#000 30%,transparent 50%),linear-gradient(180deg,#000 0,#363738);
}

.header-top-inner
{
    height:32px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    justify-content: flex-end;
}

.header-top-inner a
{
    padding: 0 10px;
    align-items: center;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #ebedee;
    padding-top:10px;
}

.menu-space
{
    height: 12px;
    width: 1px;
    background-color: #767677;
    margin-top: 10px;
}

/*Creared on : 17/11
Author: MinhTran
About: CSS Header Bottom
*/

.header-bottom
{
    height: 48px;
    width: 100%;
    padding-top: 0;
    display: flex;
    background-color: #000;
}

.header-bottom-inner
{
    width: 100%;
    height: 48px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
}

.brand-name
{
    margin-left: -75px;
    margin-top:24px;
    color:white;
    font-weight: bold;
    margin-right: 10px;
}

.header-bottom-inner .menu-item
{
    color: white;
    padding: 0 8px;
    margin-top: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: AdineuePRO,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .5px;
    text-transform: uppercase;
    cursor:pointer;
}


.header-bottom-inner .menu-item-space
{
    height: 18px;
    width: 1px;
    background-color: #767677;
    margin-top:15px;
}

.header-bottom-inner-inside
{
    display: flex;
    width: 72%;
/*    margin-top: 20px;*/
}

.header-bottom-inner-inside div:hover
{
    background: white;
    color:black;
}

.search-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: white;
    margin-top: 8px;
    cursor: pointer;
}

.search-input
{
    height: 28px;
    width: 160px;
    margin-top: 8px;
    border: white;
}

.search-input input
{
    height: 100%;
    width: 100%;
    border: white;
    outline: none;
}
.header-bottom-inner-search
{
    display: flex;
    width: 185px;
}

.cart-icon
{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color:white;
}
/*.cart-icon:hover + .cart-remain
{
    background-color:white;
    color:black;
    cursor:pointer;
    display: block;
}*/

.cart-remain
{
    display: none;
    top: 80px;
    right: 39px;
    position: absolute;
    padding: 17px 0;
    text-align: center;
    box-shadow: 0 12px 24px rgba(0,0,0,.1);
    width: 300px;
    font-family: AdineuePRO,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.cart-icon:hover
{
    cursor: pointer;
    background: white;
    color:black;
}

.cart-icon svg:hover + span
{
    display: block;
}




